<form action="/insertarDato"  method="post">
    <label for="nombre">nombre :</label>
    <input id="nombre" type="text"  name="nombre">
    <label for="edad">edad :</label>
    <input id="edad" type="number" name="edad" >
    <input type="submit" value="Enviar">
</form>
