<h1>registro</h1>

<form action="/login/registrar" method="post">
    <input type="text" name"usuario" placeholder="NOMBRE">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="submit" value="enviar">
</form>

<h1>singin</h1>
<form action="/login/sigin" method="post">
    <input type="text" name"usuario" placeholder="NOMBRE">
    <input type="password" name="password" placeholder="PASSWORD">
    <input type="submit" value="enviar">
</form>

